:root {
  --red: rgba(211, 87, 91, 0.81);
  --red-glow: rgba(211, 87, 91, 0.81);
  --blue: #61e4fa;
  --blue-glow: rgba(211, 87, 91, 0.81);
  --black: #000000;
  --yellow: #f7f500;
  --text-shadow: rgb(0, 208, 255);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  display: block;
  background-color: var(--black);
  color: var(--red);
  font-family: "GinesoSoft-ConMed";
}

body {
  padding-left: 40px;
}

.titleWrapper {
  width: 350px;
}

.title {
  font-family: "Cyberpunk";
  color: var(--yellow);
  font-size: 52px;
  text-shadow: var(--text-shadow) 2px 3px 0px;
}

.title .p {
  font-size: 80px;
  letter-spacing: -0.2em;
  font-weight: 100;
  font-style: normal;
  line-height: 1;
}

.subtitle {
  color: var(--text-shadow);
  text-align: right;
  letter-spacing: 10px;
  padding-right: 15px;
}

.wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.menu {
  z-index: 1;
}

.menuButton {
  position: relative;
  display: inline;
  text-shadow: 0px 0px 3px var(--red-glow);
  font-size: 26px;
  overflow: hidden;
}

.menuItem {
  position: relative;
  margin: 4px 0;
  padding: 10px;
  padding-right: 140px;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 92% 100%, 100% 62%);
  border: 2px solid transparent;
  border-width: 0px;
  border-style: solid;
  text-shadow: 0px 0px 3px var(--blue-glow);
  transition: color 1s linear;
  transition: border-color 1s linear;
}

.menuItem:hover {
  border-width: 2px;
  color: var(--blue);
  border-color: var(--blue);
  background: rgba(0, 0, 0, 0.25);
  transition: color 0.3s linear;
  transition: border-color 0.3s linear;
}

.menuItem:after {
  content: "";
  right: -9.5%;
  bottom: -61%;
  position: absolute;
  width: 39px;
  height: 44px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  transition: all 1s linear;
}

.menuItem:hover:after {
  border-color: var(--blue);
  transition: border-color 0.3s linear;
}

.scanlines {
  overflow: hidden;
  z-index: 0;
}

.scanlines::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 200%;
  top: -100%;
  left: 0;
  background: repeating-linear-gradient( to bottom, transparent 0%, rgba(204, 94, 98, 0.2) 0.1%, rgba(204, 94, 98, 0.2) 0.2%, transparent 0.3%), repeating-linear-gradient( to left, rgba(204, 94, 98, 0.2) 0%, transparent 100%);
}

.scanlines::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 200%;
  top: -100%;
  left: 0;
}